@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000 !important; /* Majburiy qora fon */
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-infinite-scroll {
  animation: scroll 30s linear infinite;
}

.pause-on-hover:hover {
  animation-play-state: paused;
}